body {
	font-family: 'Lato', sans-serif;
	background-color: #03C9A9;
}

.container {
	margin-bottom:20px;
}

.navbar, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .footer {
	background: #E4F1FE;
	border-color:#E4F1FE;
	border-radius:0px;
	z-index: 1;
}

.section {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: #E4F1FE;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-weight: bold;
}

#fullpage-first {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/2009-Seaworld-Shamu.jpg);
}

#fullpage-second {
	background-image:url(http://o.aolcdn.com/dims-shared/dims3/GLOB/crop/3299x2194+0+138/resize/640x426!/format/jpg/quality/85/http://o.aolcdn.com/hss/storage/midas/96000171064e3595f6472323f8c1082f/201921005/h_02160299.jpg);
}

#fullpage-third {
	background-image: url(http://i1-news.softpedia-static.com/images/news2/The-Humble-Moon-Jellyfish-Is-the-World-s-Most-Efficient-Swimmer-389338-2.jpg);
}

#fullpage-fourth {
	background-image:url(https://upload.wikimedia.org/wikipedia/commons/7/77/Puffer_Fish_DSC01257.JPG);
}

.big-header {
	font-size:48px;
}

.btn {
	border-radius: 0px;
	margin:10px;
	margin-bottom:0px;
	background-color:salmon;
	border-color:salmon;
}

a {
	color:salmon;
}

.btn:hover {
	background-color: pink;
}

a:hover, a:visited {
	color:#03C9A9;
}

.form-control, .form-control:focus {
	border:0px;
	border-radius:0px;
	background-color:#03C9A9;
	border-bottom: 1px solid #E4F1FE; 
	box-shadow: none;
	font-size:18px;

}

/*stackoverflow solution for changing placeholder colors*/

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #E4F1FE;
}

.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #E4F1FE;
   opacity:  1;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #E4F1FE;
   opacity:  1;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #E4F1FE;
}

.well {
	border-radius:0px;
	background-color:#E4F1FE;
}

#edit-btn {
	margin-left:0px;
}

.fish-list-img {
	width:200px;
	height: 200px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

.big-img {
	width:50%;
	height: auto;

}

.footer {
	position: fixed;
	bottom:0px;
	width: 100%;
}